page-klovrlogin {
    .getstart{
        background-image: url('../assets/imgs/bg1.jpg'); 
        background-repeat: no-repeat;
        background-size:cover;
    }
    .img-class{
        margin-top:50px;
    }
    a{
        color:#FCCF0B; 
    }
  
    .ion-logo-facebook{
        position: relative;
        right:30px;
        font-size: 35px
    }
}
