page-signupwithemail {
    .checkbox-icon{
        margin-right: -20px;
    }
    strong{
        font-size: 1.8em;
    }
    hr { 
        position: relative;
        display: inline-block;
        vertical-align: middle;
        border-style: solid;
        margin: 10px 0;
        width: 95%;
        border-color: #fcce0c;
        border-bottom-width: 3px;
        margin-top: 0px;
      
    }

}
